html
{
  background-color: rgb(180,180,180);
}
body {
   /*background-color: #999;*/
   font-family: 'Quicksand', sans-serif;
   background-image: url("../../image/Boxing/imgs/red gloves.jpg");
    margin: 0;
}

/*Navbox*/
.navbox
{
  width: 200px;
  height: 200px;
  background-color: white;
  float: left;
  color: Black;
  border-radius: 15px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.navbox a
{
  color: black;
  font-weight: bold;
}
.navbox a:hover
{
  color: Red;
}
.navbox hr
{
  visibility: visible;
  border-color: black;
}
/* Content*/
.content
{

    font-family: Quicksand;
    width: 900px;
    margin: auto;
    margin-top:20px;
    margin-bottom: auto;
    background-color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: auto;

}
.table
{
  padding: 15px;
}
aside
{
  border: 1px solid #dcdddf;
    clear: both;
    margin: 6px 0 18px;
    padding: 15px 0;
    width: 100%;
    font-weight: 400;
}
.tables
{
border-collapse: collapse;
border-width: 1px;
border-style: solid;
border-color: black;
font-size: 100%;
width: 100%;
display: table;
font-weight: bold;
}

tr.first
{
  background-color: lightgrey;
  text-align: center;
  font-size: 110%;
}
tr.second
{
  background-color: grey;
  text-align: center;
  color: #144670;
}
tr.third
{
  background-color: grey;
  text-align: center;
}
td
{
  width: 1px;
  padding: 4px;
}
.flags
{
  display: inline;
}
h1
{
  text-align: center;
}

.screen {
   width: 1170px;
   margin: 0 auto;
}
a {
   text-decoration: none;
   color: #fff;
}
button {
   cursor: pointer;
}
/* Start Of Header */
.header {
   overflow: hidden;
   color: #fff;
   background-color: #144670;
}
.header .left {
   float: left;
   cursor: pointer;
}
.header .right {
   float: right;
}
.header .right > ul{
   list-style: none;
   margin: 0;
}
.header .right > ul > a >li{
   display: inline-block;
   padding: 28px 10px;
   font-size: 20px;
}
.header .right > ul > a > li:hover {
   background-color: #0F1618;
}
/* End Of Header */


/* Start Of Footer */
.footer {
   overflow: hidden;
   background-color: #0F1618;
   padding: 50px 0px;
   color: #ededed;
   font-size: 14px;
}
.footer .top {
   overflow: hidden;
}
.footer .top .main {
   float: left;
   width: 32%;
   margin-right: 10%;
}
.footer .top .social {
   width: 15%;
   margin: 0px;
   float: right;
}
.footer .top .social > ul > li {
   margin: 15px 0px 0px 0px;
   overflow: hidden;
}
.footer .top .social > ul > li > img {
   float: left;
   margin: 0px 15px 0px 0px;
}
.footer .top .social > ul > li > a {

}
.footer .top .social > ul > li {

}
.footer .top .main > h3 {
   color: #fff;
}
.footer .top .main > p {
   margin: 40px 0px;
}
.footer .top .main > ul {
   list-style: none;
   padding: 0px;
   margin: 40px 0px;
}
.footer .top .main > ul > hr {
   margin: 12px 0px;
   border: .5px solid;

}
.footer .bottom > p {
   text-align: center;
   padding: 20px 0px 0px 0px;
}
.footer img
{
  border-radius: 8px;
}
.my-button-footer{
	background:none;
	border:1px solid #EDEDED;
	padding:5px 5px;
	color:#EDEDED;
	text-align:center;
	font-size:12px;
	height:30px;
	width:100px;
}
/* End Of Footrer */
