/* Start Of Header */
.header {
   overflow: hidden;
   color: #fff;
   background-color: #144670;
}
.header .left {
   float: left;
   cursor: pointer;
}
.header .right {
   float: right;
}
.header .right > ul{
   list-style: none;
   margin: 0;
}
.header .right > ul > a >li{
   display: inline-block;
   padding: 28px 10px;
   font-size: 20px;
}
.header .right > ul > a > li:hover {
   background-color: #0F1618;
}
a {
   text-decoration: none;
   color: #fff;
}
/* End Of Header */

/* start glopal style */

body{
background-color:#fff;
font-family:Tahoma, Geneva, sans-serif;
background-image:url(../../../image/volleyball/3/teambg.png);
background-repeat:repeat;
}

.contenar, .screen{
width:1170px;
margin:auto;
}

/* start gloapal css */
.my-button{
	background:none;
	border:3px solid #EDEDED;
	padding:20px 60px;
	color:#EDEDED;
	text-align:center;
	font-size:30px;
	transition: all 2s;
}

.my-button_x{
	background:none;
	border:3px solid #144670;
	padding:10px 40px;
	color:#144670;
	text-align:center;
	font-size:15px;
	transition: all 2s;
}

.my-button_x:hover{
	background:#144670;
	border:3px solid #fff;
	padding:10px 40px;
	color:#fff;
}
.my-button:hover{
	background:#EDEDED;
	opacity:0.7;
	border:3px solid #144670;
	padding:20px 60px;
	color:#144670;
}

/* end gloapal css */

/* start glopal style */

/* start face */
.face{
background-image:url(../../../image/volleyball/3/yoga-1.jpg);
background-repeat:no-repeat;
background-size:cover;
height:600px
}

.face .contenar h1{
color:#EDEDED;
text-align:center;
margin-top:0px;padding:200px;
font-size:80px;
padding-bottom:0px;
}

.face .contenar p{
	color: #EDEDED;
	text-align: center;
	margin-bottom: 0px;
	font-family: sans-serif;
}

.face_hr{
	height:40px;
	background-color:#0F1618;
}

.button{
	text-align:center;
	margin-top:20px;
}

/* end face */

/* start news */

.head{
	text-align:center;
	overflow:hidden;
	margin-top:100px;
}

.head h2{
	color:#0F1618;
}

.head hr{
	width:700px;
	color:#144670;
	margin-bottom:0px;
	border:1px solid #144670;
}

.head img{
	width:80px;
	margin:0;
}

.news .media{
	display:inline-block;
	overflow:hidden;
}

.news .media video{
border:#0F1618 6px solid ;
float:left;
}

.news .media{
	display:inline-block;
	margin-top:100px;
	border:#0F1618 solid 8px;
	text-align:center;
}

.news .media .news_pic hr{
width:50%;
margin-top:5px;
margin-bottom::5px;

}

.news .media .news_pic img{
text-align:center;
margin-left:100px;
height:130px;
}

.news .media .news_pic{
display:inline-block;
text-aligfn:center;
}

.news .media .news_pic h4{
	color:#144670;
	display:inline-block;
	font-size:13px;
	text-align:center;
	margin:10px;
	margin-left:50px
}

.elements{
padding-top:100px;
}
/* end news */

/* start moro */
.more {
	background-image:url(../../../image/volleyball/3/newspaper-widescreen-wallpaper-54010-55742-hd-wallpapers.jpg);
	margin-top:150px;
	margin-bottom::150px;
	background-size:cover;
	height:400px;
}
/* end more */

     /* olompic game */

.olompic{
height:1600px;
}

.flags{
	overflow:hidden;
	text-align:center;
	float:left;
	display:inline-block;
}
.flags .men .element{
	width:25%;
	text-align:center;
	overflow:hidden;
	padding:20px;
	border:#144670 solid 3px;
	display:inline-block;
	margin-left:20px;
	border-bottom-left-radius:20%;
	border-bottom-right-radius:20%;
	transition: all 2s;
}

.flags .men .element:hover{
	opacity:0.7;
	background-color:#CCC;
}


.flags .men .element h4{
	background-color:#144670;
	color:#fff;
	padding:10px;
	margin-top:0;
}

.men h2{
	margin-top:100px;
}

.men hr{
	width:700px;
	color:#144670;
	margin-bottom:0px;
	border:1px solid #144670
}

	 /* olompic game */

/* Start Of Header */
.header {
   overflow: hidden;
   color: #fff;
   background-color: #144670;
}
.header .left {
   float: left;
   cursor: pointer;
}
.header .right {
   float: right;
}
.header .right > ul{
   list-style: none;
   margin: 0;
}
.header .right > ul > a >li{
   display: inline-block;
   padding: 28px 10px;
   font-size: 20px;
}
.header .right > ul > a > li:hover {
   background-color: #0F1618;
}
a {
   text-decoration: none;
   color: #fff;
}
/* End Of Header */
/* contact me Css */
.contact{
	background:#fff;
	padding-top:30px;
	padding-bottom:30px;
	overflow:hidden;
	margin:50px 0px;
	}
.contact .info{
	width:50%;
	float:left;
	margin-right:5%;
}
.contact .info h2{
	color:#144670;
	margin-left:40px;
}
.contact .info p{
	color:#0F1618;
	margin-left:40px;
	line-height:1.8;
}
.contact .info p strong{
	color: #666666;
}
.contact .form{
	float:left;
	width:45%;
	padding-top:10px;
}
.contact .form label{
	display:block;
	color:#666666;
	margin:10px 0;
}
.contact .form input[type="text"]{
	background:#144670;
	color:#FFF;
	padding:10px;
	border:0;
	width:180%;
	margin-bottom:10px;
	opacity:0.8;
}
.contact .form textarea{
	background:#144670;
	color:#FFF;
	padding:10px;
	border:0;
	width:180%;
	margin-bottom:10px;
	height:250px;
	opacity:0.8
}
.contact .form input[type="submit"]{
	background:#144670;
	color:#FFF;
	border:0;
	padding:10px 15px;
	margin-top:20px;
}

/* end contact me Css */






/* Start Of Footer */
.footer {
   overflow: hidden;
   background-color: #0F1618;
   padding: 50px 0px;
   color: #ededed;
   font-size: 14px;
   width:100%;
   margin-top:20px;
}
.footer .top {
   overflow: hidden;
}
.footer .top .main {
   float: left;
   width: 32%;
   margin-right: 10%;
}
.footer .top .social {
   width: 15%;
   margin: 0px;
   float: right;
}
.footer .top .social > ul > li {
   margin: 15px 0px 0px 0px;
   overflow: hidden;
}
.footer .top .social > ul > li > img {
   float: left;
   margin: 0px 15px 0px 0px;
}
.footer .top .social > ul > li > a {

}
.footer .top .social > ul > li {

}
.footer .top .main > h3 {
   color: #fff;
}
.footer .top .main > p {
   margin-top: 40px;
   margin-bottom: 40px:
}
.footer .top .main > ul {
   list-style: none;
   padding: 0px;
   margin: 40px 0px;
}
.footer .top .main > ul > hr {
   margin: 12px 0px;
   border: 1px solid;
   color:#EDEDED;
}
.footer .bottom > p {
   text-align: center;
   padding: 20px 0px 0px 0px;
}
.my-button-footer{
	background:none;
	border:1px solid #EDEDED;
	padding:5px 5px;
	color:#EDEDED;
	text-align:center;
	font-size:12px;
	height:30px;
	width:100px;
}
/* End Of Footrer */
