/* CSS Document */
@keyframes slider {

0% {
	left:0;
}
10%{
	left:-0%	
}

20%{
	left:-100%;
}

30%{
	left:-100%;
}

40%{
	left:-200%;
}

50%{
	left:-200%;
}

60%{
	left:-300%
}

80%{
	left:-300%;
}

100%{
	left:-400%;	
}

}
#slider{
	overflow:hidden;
}

#slider figure img{
	width:20%;
	float:left;
}

#slider figure h3{
	width:20%;
	float:left;
}

#slider figure{
	position:relative;
	width:500%;
	margin:0px;
	left:0px;
	text-align:center;
	font-size:20px;
	animation: 20s slider infinite;
}






	